<hr>
<h1>Add clients</h1>

<table class="table ">
  <th>
    <tr>
      <td>Name:</td>
      <td><input [(ngModel)]="client.name" class="input"/><br></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><input [(ngModel)]="client.address" class="input"/></td>
    </tr>
    <tr>
      <td>Telephone:</td>
      <td><input [(ngModel)]="client.telephone" class="input"/></td>
    </tr>
    <tr>
      <td>Account:</td>
      <td><input [(ngModel)]="client.account" class="input"/></td>
    </tr>
        
  </th>
</table>
<br>
<div class="d-flex justify-content-center">
  <button (click)="addClient()" type="button" class="btn btn-primary btn-block btnbtn">Add Client</button>
</div>

